
<section class="callaction">
	<div class="container">
		<div class="row">
		<div class="col-md-12" align="left" style="border-bottom:2px solid #F5F5F5;margin-bottom:50px;padding-bottom:3px">
	        <span style="font-size:23px;border-bottom:2px solid #E37A43;">PROFILE</span>
	        
	        <!-- <p>Lorem ipsum dolor sit amet, consectetur consectetur  adipiscing elit donec mer lacinia.</p> -->
	    </div><br/>
			<div class="col-md-12" align="center">
				<img src="{$basedomain}assets/img/seamolec.png" width="100%"/>

			</div>

		</div>
	</div>
</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span style="font-size:27px">What is SEAMEO ?</span><br/><br/>
				<p align="justify">
					The Southeast Asian Ministers of Education Organization (SEAMEO) is a regional intergovernmental organization established in 1965 among governments of Southeast Asian countries to promote regional cooperation in education, science and culture in the region.
</p>
<p align="justify">
	As an organization that has continued to nurture human capacities and explored the peoples’ fullest potential, the SEAMEO maintains its work and aspirations for development with peoples of the region to make lives better in quality and equity in education, preventive health education, culture and tradition, information and communication technology, languages, poverty alleviation and agriculture and natural resources.
</p>
<p align="justify">
	The organisation's highest policy-making body is the SEAMEO Council, which comprises the 11 Southeast Asian education ministers. The SEAMEO Secretariat is located in Bangkok, Thailand.
</p>
			</div>

			<div class="col-md-6">
				<span style="font-size:27px">About SEAMOLEC</span><br/><br/>


				<p align="justify">SEAMEO SEAMOLEC adalah sebuah institusi yang bernaung dibawah Southeast Asian Ministers of Education Organization (SEAMEO) atau Organisasi Menteri-Menteri Pendidikan se Asia Tenggara yang bertanggung jawab untuk mengembangkan Pendidikan Terbuka dan Pendidikan Jarak Jauh di Asia Tenggara. SEAMOLEC berpusat di Indonesia dan bekerjsama dengan Departemen Pendidikan Nasional, khususnya institusi yang menyelenggarakan PJJ maupun institusai pendukung program
				</p>

				
			</div>

		</div>
	</div>
	</section>
	{*}<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span style="border-radius:10px;padding:5px 10px;font-size:29px;background-color:#70BF46;color:#FFFFFF">DISTANCE LEARNING SYSTEM</span>
			</div>

		</div>
	</div>
	</section>
	<style>
	{literal}
		@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

		

		/* You can safely remove the next two lines */
		.top { padding-right: 20px; background: #261F41; text-align: right; }
		a { color: rgba(255,255,255,0.6); text-transform: uppercase; text-decoration: none; line-height: 42px; }

		h1 {padding: 100px 0; font-weight: 400; text-align: center;}
		p {margin: 0 0 20px; line-height: 1.5;}

		.main {margin: 0 auto; min-width: 320px; max-width: 100%;}
		.content {background: #fff; color: #373737;border:1px solid #E2E2E0;}
		.content > div {display: none; padding: 30px 35px 15px;}

		input {display: none;}
		label {display: inline-block; padding: 35px 25px;font-size: 20px; font-weight: 600; text-align: center;}
		label:hover {background: #6EC046; color: #fff; cursor: pointer;}
		input:checked + label {background: #6EC046; color: #fff;}

		#tab1:checked ~ .content #content1,
		#tab2:checked ~ .content #content2,
		#tab3:checked ~ .content #content3,
		#tab4:checked ~ .content #content4 {
		  display: block;
		}

		@media screen and (max-width: 400px) { label {padding: 15px 10px;} }
		{/literal}
		</style>

		

		<div class="main" style="background-color:#E4E7BE" align="center">
  
		  <input id="tab1" type="radio" name="tabs" checked>
		  <label for="tab1"><i class="fa fa-cogs fa-3x"></i><br/><br/>STANDARISASI</label>
	
		  <input id="tab2" type="radio" name="tabs">
		  <label for="tab2"><i class="fa fa-check-square-o fa-3x"></i><br/><br/>PENILAIAN KESESUAIAN</label>
	
		  <input id="tab3" type="radio" name="tabs">
		  <label for="tab3"><img src="{$basedomain}assets/img/scale.png" height="60px"/><br/><br/>METROLOGI</label>
	
		  <div class="content">  
			  <div id="content1" align="left">
				<p>
				 Peningkatan kualitas hidup manusia sangat erat kaitannya dengan standar apalagi yang 

mencakup aspek kesehatan, kemanan dan lingkungan hidup. Hal ini menyebabkan 

standar digunakan sebagai pemahaman dasar untuk perkembangan ilmu pengetahuan 

dan teknologi. Standar kini merupakan salah satu sarana manajemen terpenting yang 

pernah dimunculkan dan perlu dipelajari dan dipahami secara menyeluruh oleh para 

cendikiawan, pelaku usaha, perencana dan ahli teknik saat merancang, memilih, 

menguji, atau mensertifikasi produk.
				<p>
				 
				</p>
			  </div>
	
			  <div id="content2" align="left">
				<p>
				Kegiatan penilaian kesesuaian dapat dilakukan melalui akreditasi dan sertifikasi.

Sertifikasi dapat diterapkan untuk semua obyek penilaian kesesuaian, yaitu bahan, 

barang, instalasi, proses, sistem, personal atau lembaga yang memenuhi persyaratan 

penilaian kesesuaian. Lembaga penilaian kesesuaian memberikan sertifikasi kepada 

produk, proses, sistem atau personal, untuk menyatakan bahwa suatu produk, proses, 

sistem atau personal telah memenuhi suatu persyaratan tertentu.
				</p>
				<p>
				
				</p>
			  </div>
	
	
			  <div id="content3" align="left">
				<p>
				 Metrologi mencakup semua aktivitas yang diperlukan untuk dapat melakukan pengukuran 

yang benar, tertelusur dan diakui kebenarannya dalam tingkat nasional, regional maupun 

internasional, sedemikian hingga dapat menciptakan rasa saling percaya di antara pihak-

pihak yang melakukan atau berkepentingan dengan pengukuran. Pengukuran yang salah 

atau tidak teliti dapat mengakibatkan pengambilan keputusan yang salah, yang dapat 

berakibat serius dalam hal pemborosan biaya atau bahkan membahayakan jiwa manusia.
				</p>
				<p>
				
				</p>
			  </div>
		  </div>
	
		</div>{/*}