
    {*}<section id="featured" style="background-color:#FFFFFF;height:60px">
        <div class="container">
            &nbsp;
        </div>
    </section>{/*}
<footer id="footer">
    <div class="container">

        <div class="row">
            
            <div class="col-md-5">
                <!-- Footer Logo -->
                {*}<h4 class="letter-spacing-1">SEAMOLEC</h4>{/*}
                <!-- Small Description -->
                <p>Southeast Asian Ministers of Education Organization</p>

                <!-- Contact Address -->
                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite address">
                            Kompleks Universitas Terbuka<br>
                            Jl. Cabe Raya, Pondok Cabe, Pamulang 15418<br>
                            PO BOX 59/CPA Ciputat, Jakarta, Indonesia<br>
                            15401<br>
                        </li>
                        <li class="footer-sprite phone">
                            Phone: (62-21) 7422184 - 7423725
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:bsn@bsn.go.id">contact@seamolec.org</a>
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->

            </div>

            <div class="col-md-3">

                <!-- Links -->
                <h4 class="letter-spacing-1">SITE MAP</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="{$basedomain}">Home</a></li>
                    <li><a href="{$basedomain}profil">Profile</a></li>
                    <li><a href="{$basedomain}kursus">Courses</a></li>
                    <li><a href="{$basedomain}berita">News</a></li>
                    <li><a href="{$basedomain}tutorial">Tutorial</a></li>
                    <li><a href="{$basedomain}search">Certificates</a></li>
                </ul>
                <!-- /Links -->

                {*}<div class="margin-top-20"><h4 class="letter-spacing-1">VISITOR {$visitor}</h4></div>
                <div class="margin-top-20"><h4 class="letter-spacing-1">USER ONLINE {$userOnline}</h4></div>{/*}

            </div>

            <div class="col-md-4">

                <!-- Newsletter Form -->
                <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
               <ul class="list-unstyled">
                    <li><a href="http://www.seamolec.org"><i class="fa fa-globe"></i> www.seamolec.org</a></li>
                    <li><a href="http://www.seameo.org"><i class="fa fa-globe"></i> www.seameo.org</a></li>
                </ul>

                <!-- Social Icons -->
                <div class="margin-top-20">
                   <img class="footer-logo" src="{$basedomain}assets/img/logo_seamolec.png" width="30%" alt="" />
        
                </div>

                
                <!-- /Social Icons -->

            </div>
            
        </div>

    </div>

    <div class="copyright">
        <div class="container">
            2016. SEAOL2
        </div>
    </div>
</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{$basedomain}assets/js/jquery.easing.1.3.js"></script>
<script src="{$basedomain}assets/js/bootstrap.min.js"></script>
<script src="{$basedomain}assets/js/jquery.fancybox.pack.js"></script>
<script src="{$basedomain}assets/js/jquery.fancybox-media.js"></script> 
<script src="{$basedomain}assets/js/portfolio/jquery.quicksand.js"></script>
<script src="{$basedomain}assets/js/portfolio/setting.js"></script>
<script src="{$basedomain}assets/js/jquery.flexslider.js"></script>
<script src="{$basedomain}assets/js/animate.js"></script>
<script src="{$basedomain}assets/js/custom.js"></script>
<script src="{$basedomain}assets/js/owl-carousel/owl.carousel.js"></script>
<script src="{$basedomain}assets/js/bootstrap-select.js"></script>
<script src="{$basedomain}assets/js/quiz.js"></script>
<script src="{$basedomain}plugin/video-js/video.js"></script>
<script src="{$basedomain}assets/js/turn.js"></script>
<script src="{$basedomain}assets/js/pdf.js"></script>
<script src="{$basedomain}assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
{literal}
$(function(){
            $('#datepicker').datepicker({
                format: 'yyyy-dd-mm'
            });
        })

    $(document).on('blur','#register-email', function(){

        //Validate Email
        var email = $(this).val();
        var validate = IsEmail(email);
        if (validate==false){
            $('input#register-email').css('border','1px dotted red');
            $('#email-error').html('Email tidak valid');
            $('#email-error').css('color','red');

        }else{

            $.post(basedomain+'user/ajax',{token:true, email:email}, function(data){

                var html = "";

                if (data.status==true){
                    $('input#register-email').css('border','1px dotted red')
                    $('#email-error').html('Email sudah terdaftar');
                    $('#email-error').css('color','red');

                }else{
                    $('#email-error').html('');
                    $('#email-error').css('color','white');
                }
            }, "JSON")

            
        }
        console.log(validate);
        
    })

    function validatePassword()
        {
            // console.log('ada');
            
            var pass1 = $('#register-password').val();
            var pass2 = $('#register-rePassword').val();

            var validate = compare(pass1, pass2);
            // log('data ='+validate);
            // return false;
            if (validate==false){
                $('input#register-rePassword').css('border','1px dotted red')
                $('#password-error').html('Password tidak sama');
                $('#password-error').css('color','red');
                return false;

            }
        }

        

{/literal}


</script>

{if $page.page=='quiz' and $page.function !=='hasil'}
    <script>
    {literal}
    
        $(document).ready(function(){

            setTimeout(function(){ 
                countDown();
            }, 1000);

            
        })
    {/literal}
    </script>

{/if}
        <script type="text/javascript">
            var tes=0;
        </script>
        <script src="{$basedomain}assets/js/cbpFWTabs.js"></script>
        <script>
            new CBPFWTabs( document.getElementById( 'tabs' ) );
        </script>

        <script type="text/javascript">
        {literal}
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        })
        {/literal}
        </script>
</body>
</html>
