
<section class="callaction">
	<div class="container">
		<div class="row">
		<div class="col-md-12" align="left" style="border-bottom:2px solid #F5F5F5;margin-bottom:50px;padding-bottom:3px">
	        <span style="font-size:23px;border-bottom:2px solid #E37A43;">PASSWORD RECOVERY</span>
	        
	        <!-- <p>Lorem ipsum dolor sit amet, consectetur consectetur  adipiscing elit donec mer lacinia.</p> -->
	    </div><br/>
			<div class="col-md-12" align="center">
        <form name="regis" method="POST" action="{$basedomain}register/passrecover" class="form-horizontal" >
  			 <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
              <input type="email" class="form-control" name="email" placeholder="Masukkan email anda" required />
              <input type="hidden" name="token" value="1"/>
            </div>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-success pull-left">Submit</button>
            </div>
          </div>	
        </form>
			</div>

		</div>
	</div>
</section>
